@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mummy";
}

@model Burialmain
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<div class="Burial">
    <h1>@Model.Northsouth @Model.Squarenorthsouth @Model.Eastwest @Model.Squareeastwest @Model.Area #@Model.Burialnumber</h1>
</div>
<div class="burialInfo">
    <div class="card text-bg-light mb-3" style="min-width: 30%;">
        <div class="card-header">Burial Info:</div>
        <div class="card-body" style="min-height: 10rem;">
            @if(Model.Depth is not null)
            {
                <p class="card-text">Depth: @Model.Depth m</p>
            }
            else
            {
                <p class="card-text">Depth:</p>
            }
            
            @if(Model.Headdirection == "W")
            {
                <p class="card-text">Head Direction: West</p>
            }
            else if (Model.Headdirection == "N")
            {
                <p class="card-text">Head Direction: North</p>
            }
            else if (Model.Headdirection == "E")
            {
                <p class="card-text">Head Direction: East</p>
            }
            else if (Model.Headdirection == "S")
            {
                <p class="card-text">Head Direction: South</p>
            }
            else
            {
                <p class="card-text">Head Direction: @Model.Headdirection</p>
            }
            
        </div>
    </div>
    <div class="card text-bg-light mb-3" style="min-width: 30%;">
        <div class="card-header">Mummy Info:</div>
        <div class="card-body" style="min-height: 10rem;">
            @if (Model.Sex == "M")
            {
                <p class="card-text">Sex: Male</p>
            }
            else if (Model.Sex == "F")
            {
                <p class="card-text">Sex: Female</p>
            }
            else if (Model.Sex == "U")
            {
                <p class="card-text">Sex: Unknown</p>
            }
            else
            {
                <p class="card-text">Sex: @Model.Sex</p>
            }
            @if (Model.Ageatdeath == "A")
            {
                <p class="card-text">Age at Death: Adult</p>
            }
            else if (Model.Ageatdeath == "C")
            {
                <p class="card-text">Age at Death: Child</p>
            }
            else if (Model.Ageatdeath == "I")
            {
                <p class="card-text">Age at Death: Infant</p>
            }
            else if (Model.Ageatdeath == "N")
            {
                <p class="card-text">Age at Death: Newborn</p>
            }
            else if (Model.Ageatdeath == "U")
            {
                <p class="card-text">Age at Death: Unknown</p>
            }
            else
            {
                <p class="card-text">Age at Death: @Model.Ageatdeath</p>
            }
            @if (Model.Haircolor == "B")
            {
                <p class="card-text">Hair Color: Brown</p>
            }
            else if (Model.Haircolor == "K")
            {
                <p class="card-text">Hair Color: Black</p>
            }
            else if (Model.Haircolor == "A")
            {
                <p class="card-text">Hair Color: Brown-Red</p>
            }
            else if (Model.Haircolor == "R")
            {
                <p class="card-text">Hair Color: Red/Red-Blond</p>
            }
            else if (Model.Haircolor == "K")
            {
                <p class="card-text">Hair Color: Blond</p>
            }
            else if (Model.Haircolor == "U")
            {
                <p class="card-text">Hair Color: Unknown</p>
            }
            else
            {
                <p class="card-text">Hair Color: @Model.Haircolor</p>
            }
        </div>
    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <div class="editDelete">
        <a class="button" asp-action="EditBurial" asp-controller="Home" asp-route-burialId="@Model.Id">Edit</a>
        <a class="button" asp-action="DeleteBurial" asp-controller="Home" asp-route-burialId="@Model.Id">Delete</a>
    </div>
}